1. Importing libraries

In [28]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns, sqlalchemy

2. Reading the data

In [29]:
SQL_HOST = "mysql+pymysql://root:78275412@127.0.0.1:3306/bike_project"

engine = sqlalchemy.create_engine(SQL_HOST)

query = "SELECT * FROM bike_cleaned"

df = pd.read_sql_query(query, engine)

In [30]:
df.head()

,index,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,0,01-01-2018,spring,2018,Jan,No,Tue,Work Day,Misty Skies,14.110847,18.18125,80.5833,10.749882,331,654,985
1,1,02-01-2018,spring,2018,Jan,No,Wed,Work Day,Misty Skies,14.902598,17.68695,69.6087,16.652113,131,670,801
2,2,03-01-2018,spring,2018,Jan,No,Thu,Work Day,Clear Skies,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,3,04-01-2018,spring,2018,Jan,No,Fri,Work Day,Clear Skies,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,4,05-01-2018,spring,2018,Jan,No,Sat,Work Day,Clear Skies,9.305237,11.46350,43.6957,12.522300,82,1518,1600

- Dropping `casual` and `registered` as they are in direct relationship with the target variable `cnt` as they are derived features.

In [31]:
df.drop(['casual', 'registered'], axis =1, inplace = True)

3. Encoding the categorical columns

In [32]:
encoded_df = pd.get_dummies(data = df, columns= ['season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday', 'weathersit'], drop_first= True, dtype= 'int')

In [33]:
encoded_df

,index,dteday,temp,atemp,hum,windspeed,cnt,season_spring,season_summer,season_winter,...,holiday_Yes,weekday_Mon,weekday_Sat,weekday_Sun,weekday_Thu,weekday_Tue,weekday_Wed,workingday_Work Day,weathersit_Light Precipitation,weathersit_Misty Skies
0,0,01-01-2018,14.110847,18.18125,80.5833,10.749882,985,1,0,0,...,0,0,0,0,0,1,0,1,0,1
1,1,02-01-2018,14.902598,17.68695,69.6087,16.652113,801,1,0,0,...,0,0,0,0,0,0,1,1,0,1
2,2,03-01-2018,8.050924,9.47025,43.7273,16.636703,1349,1,0,0,...,0,0,0,0,1,0,0,1,0,0
3,3,04-01-2018,8.200000,10.60610,59.0435,10.739832,1562,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,05-01-2018,9.305237,11.46350,43.6957,12.522300,1600,1,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,725,27-12-2019,10.420847,11.33210,65.2917,23.458911,2114,1,0,0,...,0,0,1,0,0,0,0,1,0,1
726,726,28-12-2019,10.386653,12.75230,59.0000,10.416557,3095,1,0,0,...,0,0,0,1,0,0,0,0,0,1
727,727,29-12-2019,10.386653,12.12000,75.2917,8.333661,1341,1,0,0,...,0,1,0,0,0,0,0,0,0,1
728,728,30-12-2019,10.489153,11.58500,48.3333,23.500518,1796,1,0,0,...,0,0,0,0,0,1,0,1,0,0
729,729,31-12-2019,8.849153,11.17435,57.7500,10.374682,2729,1,0,0,...,0,0,0,0,0,0,1,1,0,1

In [34]:
# dropping the date column 'dteday' 

(
    encoded_df 
    .drop(['dteday', 'index'], 
          axis = 1, 
          inplace= True)
)

4. Splitting the data

In [35]:
X = encoded_df.drop('cnt', axis = 1)
y = encoded_df['cnt']

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.8, random_state= 42)

5. Scaling the data

In [37]:
from sklearn.preprocessing import StandardScaler

num_vars = ['temp', 'atemp', 'hum', 'windspeed']

# Instance of an object 
scaler = StandardScaler()

# fit on the data 

X_train[num_vars] = scaler.fit_transform(X_train[num_vars])
X_test[num_vars] = scaler.transform(X_test[num_vars])

5. Feature Selection

In [38]:
from sklearn.feature_selection import RFE 
from sklearn.linear_model import LinearRegression


# Initalizing the base estimator 
estimator = LinearRegression()

# Applying RFE on label encoded and standardized data 
rfe = RFE(estimator= estimator, 
               n_features_to_select= 20)

rfe = (
    rfe 
    .fit(X_train, y_train)
)

list(zip(X_train.columns, rfe.support_, rfe.ranking_))

[('temp', True, 1),
 ('atemp', True, 1),
 ('hum', True, 1),
 ('windspeed', True, 1),
 ('season_spring', True, 1),
 ('season_summer', True, 1),
 ('season_winter', True, 1),
 ('yr_2019', True, 1),
 ('mnth_Aug', False, 8),
 ('mnth_Dec', True, 1),
 ('mnth_Feb', False, 7),
 ('mnth_Jan', False, 6),
 ('mnth_July', True, 1),
 ('mnth_June', False, 9),
 ('mnth_Mar', True, 1),
 ('mnth_May', True, 1),
 ('mnth_Nov', True, 1),
 ('mnth_Oct', True, 1),
 ('mnth_Sept', True, 1),
 ('holiday_Yes', True, 1),
 ('weekday_Mon', False, 4),
 ('weekday_Sat', False, 10),
 ('weekday_Sun', False, 3),
 ('weekday_Thu', False, 5),
 ('weekday_Tue', True, 1),
 ('weekday_Wed', True, 1),
 ('workingday_Work Day', False, 2),
 ('weathersit_Light Precipitation', True, 1),
 ('weathersit_Misty Skies', True, 1)]

In [39]:
col= X_train.columns[rfe.support_]
X_train = X_train[col]
X_test = X_test[col]

Exporting X_train

In [40]:
train_data = pd.concat([X_train, y_train], axis = 1)
test_data = pd.concat([X_test, y_test], axis = 1)

In [41]:
DIR_PATH = "/Users/abhisheksaurav/Desktop/bike_project/data/cleaned_data"
FILE_NAME = "train_data"
train_data.to_csv(f"{DIR_PATH}/{FILE_NAME}.csv")

Exporting X_test

In [42]:
DIR_PATH = "/Users/abhisheksaurav/Desktop/bike_project/data/cleaned_data"
FILE_NAME = "test_data"
test_data.to_csv(f"{DIR_PATH}/{FILE_NAME}.csv")